aiohttp
beautifulsoup4
dateparser
geopandas
httpcore
httpx
Jinja2
jsonschema
jsonschema-specifications
lxml
markdown-it-py
markdownify
matplotlib
matplotlib-inline
matplotlib-pyodide
multidict
networkx
nltk
numpy
openai
opencv-python
pandas
pillow
pydantic
pydantic-xml
pydantic_core
python-dateutil
python-magic
pytz
PyYAML
regex
requests
ruamel.yaml
scikit-image
scikit-learn
scipy
simplejson
tiktoken
typing_extensions
tzdata
tzlocal
PyMuPDF==1.26.3
urllib3
webencodings
https://github.com/xlwings/duckdb-pyodide/releases/download/duckdb-v1.5.0-pyodide-0.29.3/duckdb-1.5.0-cp313-cp313-emscripten_3_1_58_wasm32.whl
